body {
    background-color: #c9e7fd;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.table {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

h1 {
    margin: 6%;
    font-family: "Englebert", cursive;
    font-size: 6rem;
    color: #5fa3dd;
    transition: all 0.3s ease;
    white-space: nowrap;
}

p {
    font-family: "Englebert", cursive;
    font-size: 2rem;
    color: #5fa3dd;
}

.nameTag {
    font-size: 3rem;
}

.dice {
    text-align: center;
    display: inline-block;
}

img {
    width: 75%;
}

button {
    border-radius: 1rem;
    width: 13rem;
    height: 6rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    background-color: #f6f8f9;
    text-align: center;
    font-family: "Englebert", cursive;
    font-size: 2rem;
    color: #5fa3dd;
}

button:hover {
    background-color: rgb(226, 237, 248);
  }

input {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 1rem;
    width: 12vw;
    height: 5vh;
    text-indent: 1rem;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #5fa3dd;
}

footer {
    margin-top: 5%;
    margin-bottom: 3rem;
    text-align: center;
    font-family: "Englebert", cursive;
    color: #5fa3dd;
}